/* CreateTournament.css */

.create-tournament {
  padding: 20px;
  background: linear-gradient(
    to bottom,
    #3165cb,
    #030115
  ); /* Thêm gradient cho màu nền */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  color: black; /* Set text color */
}

.form-container textarea {
  width: 100%; /* Make textarea take up the full width of the container */
  padding: 10px;
  resize: vertical; /* Allow vertical resizing, or set to "none" to disable */
  box-sizing: border-box; /* Include padding and border in the element's width */
  border-radius: 10px;
  color: black; /* Set text color */
}

.form-container label {
  font-size: 1rem;
  margin-top: 15px;
  display: block;
  color: black; /* Set text color */
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: black; /* Set text color */
}

.form-container input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: black; /* Set text color */
}

.form-container input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: black; /* Set text color */
}

.form-container select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: black; /* Set text color */
}

.discipline-grid {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.discipline-item {
  padding: 15px;
  margin: 5px;
  background-color: #eee;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  flex: 1 1 100px;
  border: 2px solid transparent; /* Add transparent border */
  color: black; /* Set text color */
}

.discipline-item.selected {
  border-color: #007bff; /* Only change the border color on selection */
}

.participant-grid {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  height: 200px;
}

.participant-item {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex: 1 1 100px;
  border: 2px solid transparent; /* Add transparent border */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: black; /* Set text color */
}

.participant-item.selected {
  border-color: #007bff; /* Only change the border color on selection */
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black; /* Set text color */
}

.next-button {
  background-color: #2835a7;
  color: white; /* Set text color */
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 10px;
}

.back-button {
  background-color: #7e82a4;
  color: white; /* Set text color */
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.create-button {
  background-color: #28a745;
  color: white; /* Set text color */
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 10px;
}

.review-info-container {
  width: 500px;
  margin-top: 10px;
  color: black; /* Set text color */
}

.review-info-container ul {
  margin-left: 30px;
  margin-top: 10px;
  color: black; /* Set text color */
}
