/* FilterBar */
.filterBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
  margin: 55px 95px 0 0;
  flex-wrap: wrap;
}

.filterDropdown {
  background-color: rgba(198, 196, 196, 0.25);
  border-radius: 15px;
  padding: 0 7px;
  height: 29px;
  display: flex;
  align-items: center;
}

.dropdownToggle {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.dropdownArrow {
  font-size: 10px;
}

.filterButton {
  background-color: rgba(64, 72, 89, 0.6);
  border: none;
  border-radius: 15px;
  width: 42px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filterIcon {
  width: 30px;
  height: 30px;
}

@media (max-width: 991px) {
  .filterBar {
    margin: 40px 10px 0 0;
  }
}

/* Home Page */
.homePage {
  font-family: Poppins, sans-serif;
  color: #fff;
  background: linear-gradient(
    to bottom,
    #3165cb,
    #030115
  ); /* Thêm gradient cho màu nền */
}

.mainContent {
  padding: 0 80px;
}

.trendingGamesSection {
  margin-top: 74px;
}

.sectionTitle {
  font: 700 31px/58px Rubik, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}

.featuredBanner {
  width: 100%;
  border-radius: 5px;
  margin-top: 66px;
  aspect-ratio: 1.97;
  object-fit: contain;
}

@media (max-width: 991px) {
  .mainContent {
    padding: 0 20px;
  }

  .trendingGamesSection {
    margin-top: 40px;
  }

  .featuredBanner {
    max-width: 100%;
    margin-top: 40px;
  }
}

/* ListGame */
.gameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-width: 240px;
  flex-grow: 1;
  text-align: center;
}

.gameImage {
  width: 100%;
  aspect-ratio: 0.83;
  object-fit: contain;
  border-radius: 20px;
}

.gameName {
  margin-top: 8px;
  font: 500 22px/41px Rubik, -apple-system, Roboto, Helvetica, sans-serif;
  color: #fff;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 58px;
  justify-content: center;
  margin-top: 36px;
}

@media (max-width: 991px) {
  .gameGrid {
    gap: 40px 20px;
  }
}

/* Game Page */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin: 66px;
  font: 500 22px/41px Rubik, -apple-system, Roboto, Helvetica, sans-serif;
}
.pageButton {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 10px;
}

.pageButton.active {
  background-color: rgba(255, 252, 252, 0.32);
  border-radius: 10px;
}

@media (max-width: 991px) {
  .pagination {
    margin-top: 40px;
    gap: 20px;
  }
}