.tournamentCard {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.tournamentLogo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.tournamentInfo {
  flex-grow: 1;
}

.tournamentTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}

.tournamentOrganizer {
  font-size: 14px;
  line-height: 2;
  margin: 0;
}

.tournamentDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.tournamentDate,
.tournamentLocation,
.tournamentTeams,
.tournamentStatus {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.tournamentStatus.open {
  color: #4defa6;
}

.tournamentStatus.closed {
  color: #fa9021;
}

.tournamentLink {
  color: inherit; /* Kế thừa màu từ phần tử cha */
  text-decoration: none; /* Xóa gạch chân mặc định của link */
}

.tournamentLink:hover {
  text-decoration: none; /* Không thay đổi khi hover */
}

.tournamentTitle, .tournamentOrganizer, .tournamentDate, .tournamentLocation, .tournamentTeams, .tournamentStatus {
  color: inherit; /* Đảm bảo các thành phần con giữ nguyên màu */
}
@media (max-width: 991px) {
  .tournamentCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .tournamentDetails {
    align-items: flex-start;
    width: 100%;
  }
}
